/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #212529;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.3rem;
  padding-bottom: 10px;
}
@media (max-width: 540px) {
  p {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 2px dashed #C0C0C0;
  padding: 1.5rem 7rem;
}
@media (max-width: 540px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media (max-width: 540px) {
  .header .heading-primary {
    margin-bottom: 10px;
  }
}
.header .nav-bar a {
  padding: 1.5rem;
  font-size: 1.3rem;
  color: inherit;
  text-decoration: none;
}
@media (max-width: 540px) {
  .header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
}
.home .main-section {
  padding: 0 7rem;
}
.home .top-section {
  border-bottom: 2px dashed #C0C0C0;
}
.home .top-section-content {
  padding: 20px 0;
  text-align: jusitfy;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 540px) {
  .home .content-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 540px) {
  .home .content-section .text-content {
    width: 100%;
    padding-right: 0;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 540px) {
  .home .content-section .img-content {
    width: 100%;
    padding: 0;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 540px) {
  .home .inverse-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    padding: 0;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
@media (max-width: 540px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-pick {
  border-bottom: 2px dashed #C0C0C0;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: 2px dashed #C0C0C0;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
  padding-right: 3.5rem;
}
@media (max-width: 540px) {
  .home .content-pick .destination {
    width: 80%;
    padding-right: 0;
  }
}
.home .content-pick .destination h4 {
  font-size: 2.1rem;
}
.home .content-pick .destination .btn {
  font-size: 1.5rem;
  background-color: #17A2B8;
  border-radius: 15px;
  padding: 12px 1rem;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}
.home .content-pick .destination .btn:hover {
  background-color: #4cd3e9;
  cursor: pointer;
}
@media (max-width: 540px) {
  .home .content-pick {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.footer {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
