.header {
    .flex-layout(space-between, baseline);
    .nav-border();
    padding: 1.5rem 7rem;
;

    .nav-bar {

        a {
            padding: @mediumPadding;
            font-size: 1.3rem;
            color: inherit;
            text-decoration: none;

            &:not(:last-child) {
                
            }
        }

    }
}