.header {
    .flex-layout(space-between, baseline);
    .nav-border();
    padding: 1.5rem 7rem;

    @media @mobile {
        .flex-layout(space-between, center, column); 
    }

    .heading-primary {

        @media @mobile {
            margin-bottom: 10px;
        }
    }

    .nav-bar {

        a {
            padding: @mediumPadding;
            font-size: 1.3rem;
            color: inherit;
            text-decoration: none;
        }
       
        @media @mobile {
            .flex-layout(space-between);
            width: 100%;      
        }
    }

  
}